<h1>List of Synthesizer Companies</h1>
<% @companies.each do |company| %>
<h3><%= company.name %> <%= button_to "Edit #{company.name}", "/companies/#{company.id}/edit", method: :get %></h3>
<% end %>
<%= link_to "New Company", "/companies/new" %>